<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="one">Pending</mat-option>
      <mat-option value="two">In Progress</mat-option>
      <mat-option value="two">Completed</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button mat-flat-button>Ajouter</button>
</form>