<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" type="text" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Status</mat-label>
      <mat-select id="status" formControlName="status">
        @for(trackStatus of taskStatuses; track trackStatus) {
          <mat-option [value]="trackStatus">{{trackStatus}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>
    <div class="submit-container">
      <button type="submit" [disabled]="!form.valid" mat-flat-button>Add</button>
    </div>
  </form>